{% extends 'base.html.twig' %}

{% block title %}Блог{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    <link rel="stylesheet" href="{{ asset('blog/css/main.css') }}">
{% endblock %}

{% block body %}
    <header class="header">
        <div class="container-fluid">

            <div class="nav-top">

                <div class="row justify-content-between nav-top__background">

                    <div class="nav-top__brand">
                        <div class="col-lg-auto col-md-auto">
                            <img class="pointer" src="{{ asset('img/logo_brand.png') }}" alt="brand" onclick="window.location.href='{{ path('home') }}'">
                        </div>
                    </div>

                    <div class="nav-top__menu">
                        <div class="col-lg-auto col-md-auto nav-top__upmenu">
                            <nav class="navbar navbar-expand-lg navbar-dark ">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">
                                            <a href="{{ path('home') }}" class="nav-link">Главная</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{ path('blog') }}" class="nav-link">Блог</a>
                                        </li>
                                    </ul>
                                    <div class="nav-top__menu-contacts">
                                        <span>{{ settings.email }}<br>{{ settings.phone }}</span>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="nav-blog">
                    <div class="row  align-items-center">
                        <div class="col-lg-auto col-md-auto col-sm-auto">
                            <h1>Блог</h1>
                        </div>
                        <div class="col-lg-auto ml-auto">
                            <hr>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <section class="content">
        <div class="container-fluid">
        {% for article in articles %}
            <div class="content__block">
                <div class="row first justify-content-around">
                    <div class="col-lg-auto col-md-auto col-sm-auto">
                        <img class="image" src="{{ article.ImgPathWithFolder }}" alt="image">
                    </div>
                    <div class="col-lg-auto col-md-auto col-sm-auto">
                        <div class="content__block-description">
                            <b>{{ article.name }}</b>
                            <p >{{ article.text|striptags|truncate(160)}}</p>
                        </div>
                        <div class="content__block-button">
                            <button onclick="window.location.href='{{ path('article',{slug: article.slug}) }}'"><b>Подробнее</b><img src="{{ asset('img/arrow.png') }}" alt="button_logo"></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>

    <div class="navigation-wrap">
        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-auto col-md-auto col-sm-auto text-center">
                    <span>2019 LuxDe School</span>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}