{% extends 'base.html.twig' %}

{% block title %}Блог{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    <link rel="stylesheet" href="{{ asset('blog/css/main.css') }}">
{% endblock %}

{% block body %}
    <header class="header">
        <div class="container-fluid">

            <div class="nav-top">

                <div class="row justify-content-between nav-top__background">

                    <div class="nav-top__brand">
                        <div class="col-lg-auto col-md-auto">
                            <img src="{{ asset('blog/img/logo_brand.png') }}" alt="brand">
                        </div>
                    </div>

                    <div class="nav-top__menu">
                        <div class="col-lg-auto col-md-auto">
                            <nav class="navbar navbar-expand-lg navbar-dark ">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Главная</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">Блог</a>
                                        </li>
                                    </ul>
                                    <div class="nav-top__menu-contacts">
                                        <span>luxdeschool@gmail.com<br>+38(099)385-20-90</span>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="nav-blog">
                    <div class="row  align-items-center">
                        <div class="col-lg-auto col-md-auto col-sm-auto">
                            <h1>Блог</h1>
                        </div>
                        <div class="col-lg-auto ml-auto">
                            <hr>
                        </div>
                    </div>
                </div>

            </div>
    </header>

    <section class="content">
        <div class="container-fluid">

            <div class="content__block">
                <div class="row first justify-content-around">
                    <div class="col-lg-auto col-md-auto col-sm-auto">
                        <img class="image" src="{{ asset('blog/img/image.png') }}" alt="image">
                    </div>
                    <div class="col-lg-auto col-md-auto col-sm-auto">
                        <div class="content__block-description">
                            <b>Заголовок статьи</b>
                            <p>Небольшое описание статьи - Дедуктивный метод решительно представляет собой бабувизм.
                                Дискретность амбивалентно транспо Импликация.</p>
                        </div>
                        <div class="content__block-button">
                            <button><b>Подробнее</b><img src="{{ asset('blog/img/arrow.png') }}" alt="button_logo"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content__block">
                <div class="row two justify-content-around">
                    <div class="col-lg-auto col-md-auto col-sm-auto">
                        <img class="image" src="{{ asset('blog/img/image.png') }}" alt="image">
                    </div>
                    <div class="col-lg-auto col-md-auto col-sm-auto">
                        <div class="content__block-description">
                            <b>Заголовок статьи</b>
                            <p>Небольшое описание статьи - Дедуктивный метод решительно представляет собой бабувизм.
                                Дискретность амбивалентно транспо Импликация.</p>
                        </div>
                        <div class="content__block-button">
                            <button><b>Подробнее</b><img src="{{ asset('article/img/arrow.png') }}" alt="button_logo"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content__block">
                <div class="row three justify-content-around">
                    <div class="col-lg-auto col-md-auto col-sm-auto">
                        <img class="image" src="{{ asset('blog/img/image.png') }}" alt="image">
                    </div>
                    <div class="col-lg-auto col-md-auto col-sm-auto">
                        <div class="content__block-description">
                            <b>Заголовок статьи</b>
                            <p>Небольшое описание статьи - Дедуктивный метод решительно представляет собой бабувизм.
                                Дискретность амбивалентно транспо Импликация.</p>
                        </div>
                        <div class="content__block-button">
                            <button><b>Подробнее</b><img src="{{ asset('blog/img/arrow.png') }}" alt="button_logo"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content__block">
                <div class="row four justify-content-around">
                    <div class="col-lg-auto col-md-auto col-sm-auto">
                        <img class="image" src="{{ asset('blog/img/image.png') }}" alt="image">
                    </div>
                    <div class="col-lg-auto col-md-auto col-sm-auto">
                        <div class="content__block-description">
                            <b>Заголовок статьи</b>
                            <p>Небольшое описание статьи - Дедуктивный метод решительно представляет собой бабувизм.
                                Дискретность амбивалентно транспо Импликация.</p>
                        </div>
                        <div class="content__block-button">
                            <button><b>Подробнее</b><img src="{{ asset('blog/img/arrow.png') }}" alt="button_logo"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-auto col-md-auto col-sm-auto text-center">
                    <span>2019 LuxDe school</span>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}